<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ if .Title }}
        <title>{{ .Title }}</title>
    {{else}}
        <title>Home Page - GoWeb</title>
    {{end}}
</head>
<body>
    <div>
        Blog:
        <a href="/">Home</a>
        {{if .CurrentUser}}
            <a href="/logout">Logout</a>
            <a href="/user/{{.CurrentUser}}">Profile</a>
        {{else}}
            <a href="/login">Login</a>
        {{end}}
    </div>
    {{ template "content" . }}
</body>
</html>
